<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{../css/styles.css}">
</head>
<body>
<div class="container">
    <h2>Registration Form</h2>
    <div id="message" th:if="${message != null}">
        [[${message}]]
    </div>
    <br>
    <form id="registrationForm"
          th:action="@{/registration}"
          method="POST"
          role="form"
          th:object = "${user}"
    >
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter your account name" th:field = "*{username}" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" th:field = "*{email}"  required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" th:field = "*{password}"  required>

        <input type="submit" value="Register">
    </form>
</div>
</body>
</html>